/* CV */
.cv {
    font-family: 'Lato',sans-serif;
    text-align: left;
    color: black;
    background-color: white;

    display: flex;
    flex-direction: column;
    overflow: auto;
    word-wrap: break-word;

    width: 60%;
    min-width: 21cm;
    margin: auto;
    padding: 20px;
}


.cv-header {
    font-weight: bold;
    color: white;
    background-color: #10B878;

    border-radius: 10px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.cv-header>div{
    display: inline-block;
    flex:1 1 auto;
    height: 100%;
}
.cv-photo{
    width: 25%;
    min-width: 5cm;
    text-align: left;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.cv-title{
    text-align: center;
    vertical-align: middle;
}
.cv-title *{
    margin : 0px;
    padding: 0px;
}
.cv-contact {
    text-align: right;
    display: inline;
    padding: 0px;
}

.cv-body{
    display: flex;
    align-items: flex-start;
}
.cv-skills{
    width: 40%;
    min-width: 5cm;
    margin-right: 20px;
}
.cv-main-skills{
    text-align: center;
    font-weight: bold;
}

.cv a:hover{
    color: currentColor;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    margin: -4px;
}
.cv-publi a{
    display: inline-block;
    padding:0;
    margin:0;
}

.cv strong {
    color: white;
    background-color: #10B878;
    text-align: center;
    font-weight: bold;
    font-size: larger;

    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;

    display: flex;
    justify-content: center;
}
.cv table{
    width:100%;
    margin-top: 20px;
}
.cv th{
    padding: 2px;
    vertical-align: center;
    justify-content: center;
}
.cv-bull-col {
    text-align: center;
    width: 50%;
}
.cv-date-col{
    text-align: left;
    width: 15%;
}


.dot-filled{
  height: 10px;
  width: 10px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;

}
.dot-empty{
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}